<div class="bg-blue-500 flex items-center justify-center py-4 text-center text-white" role="banner">
  <abds-icon icon="task-list-pen" size="5xl"></abds-icon>
  <h1>Welcome to our Angular example app!</h1>
</div>

<div
  [class]="
    darkMode
      ? 'bg-black flex flex-col gap-y-2 items-center justify-center text-white'
      : 'flex flex-col gap-y-2 items-center justify-center'
  "
>
  <section id="shopping-list">
    <h2>
      Shopping list
      <abds-badge palette="warning">Item count: {{ itemCount }}</abds-badge>
    </h2>

    <ul class="shoppingList"></ul>

    <div class="flex gap-x-2 items-center justify-center mt-2">
      <abds-button icon-start="subtract" (click)="resetItems()" palette="brand">Remove Completed</abds-button>
      <abds-button icon-start="add" (click)="addItem()" palette="brand">Add Item</abds-button>
    </div>
  </section>

  <section id="diet-form">
    <form class="flex flex-col gap-y-2 text-left">
      <h2 class="flex gap-x-4">
        Favorite Food Form
        <img alt="taco" class="inline" id="customIcon" src="https://img.icons8.com/office/30/000000/kawaii-taco.png" />
        <abds-tooltip for="customIcon" open placement="right">It&rsquo;s TACO TUUUUESDAY!!!</abds-tooltip>
      </h2>

      <section class="flex gap-x-4 items-center" id="favorite-fruit">
        <h3 class="block">Favorite Fruit:</h3>

        <abds-radio name="fruit" value="apple">
          Apple
          <i id="apple" class="fas fa-apple-whole">
            <abds-tooltip for="apple">Pick me! Pick ME!!</abds-tooltip>
          </i>
        </abds-radio>
        <abds-radio name="fruit" value="banana">Banana</abds-radio>
        <abds-radio name="fruit" value="cherry">Cherry</abds-radio>
        <abds-radio>
          Lemon
          <i id="lemon" class="fas fa-lemon">
            <abds-tooltip for="lemon">ez pz lemon squeezy</abds-tooltip>
          </i>
        </abds-radio>
      </section>

      <section class="flex gap-x-4 items-center" id="favorite-vegetable">
        <h3>Favorite Vegetable:</h3>

        <abds-checkbox name="veggie" value="carrot">
          Carrot
          <i id="carrot" class="fas fa-carrot">
            <abds-tooltip for="carrot">Ehhhh, what&rsquo;s up Doc?</abds-tooltip>
          </i>
        </abds-checkbox>
        <abds-checkbox name="veggie" value="broccoli">Broccoli</abds-checkbox>
        <abds-checkbox name="veggie" value="potato" required tooltip="potatoe">Potato</abds-checkbox>
      </section>

      <section class="flex gap-x-4 items-center" id="dietary-restrictions">
        <h3>Dietary Restrictions:</h3>

        <abds-switch name="diet" value="vegan" tooltip="no meat">Vegan</abds-switch>
        <abds-switch name="diet" value="vegan">
          Carnivore
          <i id="dragon" class="fas fa-dragon">
            <abds-tooltip for="dragon">ROOAARR!!!</abds-tooltip>
          </i>
        </abds-switch>
        <abds-switch name="diet" value="glutenfree">Gluten Free</abds-switch>
        <abds-switch name="diet" value="dairyfree">Dairy Free</abds-switch>
      </section>

      <abds-button class="block" type="submit">Submit</abds-button>
    </form>
  </section>

  <section id="contact-us">
    <form class="flex flex-col gap-y-4">
      <h2>Contact Us</h2>

      <div class="flex gap-x-4">
        <abds-input
          name="first-name"
          maxlength="10"
          minlength="3"
          pattern="[A-Z|a-z]+"
          pattern-message="Must contain letters only"
        >
          First Name
        </abds-input>
        <abds-input name="last-name" pattern="[A-Z|a-z]+" required>Last Name</abds-input>
      </div>

      <div class="flex gap-x-4">
        <abds-input name="street" pattern="\w+(\s\w+){2,}" required>Street</abds-input>
        <abds-input name="city" pattern="[A-Z|a-z|\s]+" required>City</abds-input>
        <abds-select id="states" label="State" name="state" placeholder="Select a state" required>
          <!--  Default options if  -->
          <abds-select-option value="cali">California</abds-select-option>
          <abds-select-option value="denver">Denver</abds-select-option>
          <abds-select-option value="new york">New York</abds-select-option>
          <abds-select-option value="tx">Texas</abds-select-option>
        </abds-select>
      </div>

      <abds-button type="submit">Submit</abds-button>
    </form>
  </section>

  <section class="flex gap-x-4" id="toggle-playground">
    <abds-switch (click)="setDarkMode()">Toggle text and background color</abds-switch>
  </section>

  <section id="modal">
    <abds-button appearance="outline" class="fixed bottom-1 right-1" (click)="toggleModal()" palette="destructive">
      Important information
    </abds-button>
    <abds-modal header-text="Not important information" icon="information-circle" id="modal-1" palette="danger">
      <p slot="modal-header">Modal header which shouldn't show</p>
      <div slot="modal-body">
        <ul>
          <li>This is a sentence.</li>
          <li>This is another sentence.</li>
          <li>This is yet another sentence.</li>
          <li>You guessed it, this is a sentence.</li>
        </ul>
        <ul>
          <li>This is a sentence.</li>
          <li>This is another sentence.</li>
          <li>This is yet another sentence.</li>
          <li>You guessed it, this is a sentence.</li>
        </ul>
        <ul>
          <li>This is a sentence.</li>
          <li>This is another sentence.</li>
          <li>This is yet another sentence.</li>
          <li>You guessed it, this is a sentence.</li>
        </ul>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid fugit hic tempora beatae nostrum et, explicabo
        cumque libero laborum a sequi accusamus reprehenderit quisquam possimus, amet unde aspernatur, temporibus vel.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid fugit hic tempora beatae nostrum et, explicabo
        cumque libero laborum a sequi accusamus reprehenderit quisquam possimus, amet unde aspernatur, temporibus vel.
      </div>
      <div slot="modal-footer">
        <abds-button appearance="outline" class="mr-1" palette="neutral">This button will not close modal</abds-button>
        <abds-button>This one either</abds-button>
      </div>
      <p>no slot specified</p>
    </abds-modal>
  </section>
</div>
